.contents-layout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
  margin: 1.5rem 0 0.5rem;
  padding: 1rem 0;
  // border-radius: 15px;
  // background-color: $darkest-color;
}
