<div class="contents-layout">
  <div
    style="
      background: #357aff;
      width: 100px;
      height: 40px;
      display: inline-block;
      padding: 6px;
      border-radius: 5px;
      text-align: center;
      line-height: 7px;
      font-family: Avenir, Helvetica, Arial, sans-serif;
    "
  >
    <a
      href="https://anypost.dev/share"
      onclick="window.open(this.href+'?s='+location.href+'&t='+document.title, '', 'width=500,height=750'); return false;"
      style="color: #ffffff; text-decoration-line: none"
      ><div
        style="
          font-size: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <img
          src="https://anypost.dev/external-assets/share.svg"
          width="20"
          style="padding-right: 4px"
          alt="share"
        />Share
      </div>
      <div
        style="
          font-size: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 4px;
        "
      >
        to fediverse
      </div></a
    >
  </div>

  <a
    href="https://b.hatena.ne.jp/entry/"
    class="hatena-bookmark-button"
    data-hatena-bookmark-layout="touch"
    title="このエントリーをはてなブックマークに追加"
    ><img
      src="https://b.st-hatena.com/images/v4/public/entry-button/button-only@2x.png"
      alt="このエントリーをはてなブックマークに追加"
      width="20"
      height="20"
      style="border: none"
  /></a>
  <script
    type="text/javascript"
    src="https://b.st-hatena.com/js/bookmark_button.js"
    charset="utf-8"
    async="async"
  ></script>
</div>
